dist/
build/
!build/
build/*
!build/icon.ico
!build/icon.png
!build/win-startup-launcher.manifest
!build/win-uiaccess.manifest
out/
src/**/bin/
src/**/obj/
.certs/*
!.certs/.gitkeep
.env
.env.*
*.log
.DS_Store
Thumbs.db
